.menu{
    display: none;
    padding: 10px 20px;
    border-radius: 32px;

    position: fixed;
    top: 30px;
    left: 2%;
    z-index: 999;
}


@media (max-width: 1008px){
    .menu{
        display: block;
    }
}