.title{
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    margin-right: 20%;

    z-index: 1;
}

.headerText{
    font-size: 80px;
    text-align: left;
}
.subText{
    font-size: 45px;
    text-align: left;
}

.text{
    font-size: 20px;
    text-align: left;
}